
{% extends 'cab/base.html' %}
{% load static %}
{% block content %}
<title>Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                        <h1 id="header-h1">CAB RESERVATION <br> SYSTEM. </h1>
                        <p id="header-paragraph">A trusted destination for travelling, <br> Authorised by FCA, ASIC & FSCA</p><br>
                    {% if user.is_authenticated %}
                        <a href="{% url 'location' %}" class="btn" style="color:white;background-color:#fd5e14;" type="submit" id="header-links"> book</a>
                    {% endif %}
                </div>
                <small class="text-muted ml-3" ><a href="{% url 'discover' %}">know more</a></small>
              </div>
    </div>
{% endblock content %}


